*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  text-align: center;
}
.do{
  max-width: 74%;
  margin: 12%;
  display: flex;
}
#html{
  color: white;
  float: left;
  font-size: 20px;

}
#about{
  background-color: #8B0000;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px;
  margin: 20px;
}
.content{
  max-width: 45%;
  margin: 20px;
  float: left;
}
img{
  max-width: 250px;
  max-height:600px;
  position: relative;
  float: left;
}
.right{
  max-width: 45%;
  margin: 20px;
  float: right;
  background-color: white;
  height: 10em;
  font-size: 1em;
}
#foot{
  background-color: #8B0000;
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  margin: 20px;
}
